.contenedor-lista{
    margin: 0 auto;
    margin-top: 2rem;
}

.contenedor-resumen-residente{
    margin: 0 auto;
    margin-top: 2rem;
    background: whitesmoke; 
    border: 1px solid grey;
    border-radius: 3px;
}

.contenedor-resumen-residente h1{
    text-align: center;
    padding: .3rem;
}

.grid{
    width: 99%; 
    margin: 0 auto;
}

.contenedor-botones{
    width: 99%; 
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.botones{
    text-decoration: none; 
    font-weight: bold; 
    padding: .5rem
}

@media (max-width: 640px){
    .contenedor-lista{
        width: 95%;
    }
    
    .contenedor-resumen-residente{
        width: 98%;
    }
}

@media (min-width: 641px){
    .contenedor-lista{
        width: 50%;
    }
    
    .contenedor-resumen-residente{
        width: 70%
    }
}

@media (min-width: 1025px){
    .contenedor-lista{
        width: 30%;
    }
    
    .contenedor-resumen-residente{
        width: 50%
    }
}